[user]
	email = dfsnow@uchicago.edu
	name = Dan Snow

[core]
	autocrlf = input

[alias]
	a = add
	aa = add .
	ac = !git add -A && git commit -m
	cm = commit -m
	ca = commit --amend --verbose

	d = diff
	ds = diff --stat

	s = status -s -b
	co = checkout
	cob = checkout -b

	pu = push
	pl = !git pull --rebase --prune && git submodule update --init --recursive

	f = fetch --prune --verbose
	cl = clone

	# undo previous commit
	r = checkout HEAD^1 --
	rh = reset --hard HEAD^1

	# logs
	l = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
	lg= log --graph --oneline --decorate --all

	# list branches sorted by last modified
	bl = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"
	b = branch

	# list aliases
	la = "!git config -l | grep alias | cut -c 7-"

	# how many commits have been made by different authors
	who = shortlog -n -s --no-merges
